* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "" ;
    display: table ;
    clear: both ;
}

.float-dx {
    float: right ;
}

.float-sx {
    float: left ;
}

.larghezza-centrale {
    width: 60% ;
    margin: 0 auto ;
}

.bg-blu {
    background-color: #b4d0e7 ;
    margin: 0 0 200px 0 ;
    padding: 3em 0 0 0 ;
}

nav { 
    width: 100% ;
    height: 60px ;
    padding: 0 1em ;
    background-color: white ;
    position: fixed ;
    line-height: 60px ;
}

#logo-box {
   display: inline-block ;
   
}

#logo {
    vertical-align: middle ;
}

.nav-box-sx {
 
    width: 40% ;
    margin: 0 1em ;
    display: inline-block ;
}

.nav-box-dx {
  
    width: 40% ;
    margin: 0 1em ;
    display: inline-block ;
    text-align: right ;
}

.nav-menu {
    list-style: none ;
   

}

.nav-menu a {
    text-decoration: none ;
}

.nav-menu li {
    display: inline ;
    padding: 0 1.5em ;
}

.nav-menu {
    display: inline-block ;
}


.link-blu {
    color: white ;
    background-color: #0162ff ;
    font-size: 0.8em ;
    padding: 0.5em 1em ;

}

#banner {
    padding: 60px 0 0 0 ;
    height: 50vh ;
    width: 90% ;
    margin: 0 auto ;
}

#titolo-principale {
    font-size: 4.5em ;
    width: 90% ;
    
}

#freccia {
    font-size: 3em ;
}

.float-sx a {
    text-decoration: none ;
}

.testo-capo {
    display: block ;
}

#contenitore-testo-banner {
    padding: 0 12em 4em 0 ;
}



#banner :nth-child(2) {
    width: 40% ;
  
}

#banner :nth-child(3) {
    width: 60% ;
}

.colonna {
   
    width: calc(100% / 3 - 50px) ;
    border: black solid 1px ;
    display: inline-block;
    
}

.contenitore-colonne {
    margin-bottom: 50px ;
}

.contenitore-colonne .colonna:nth-child(2) {
    margin: 0 75px ;
}

.singolo {
    width: 100% ;
    text-align: center ;
    border-bottom: solid grey 1px;
    
}

.team {
    width: 100% ;
    text-align: center ;
    border-bottom: solid grey 1px; 
}

.costo * {
    margin: 1em 0 ;
}

.costo {
    text-align: left ;
    padding: 0 1em ;

}

.condizioni {
    padding: 0 1em ;
}

.condizioni span {
    display: inline-block ;
    margin: 1em 0;

}

h5 {
    color: gray;
   
}

.salienti {
    width: 100% ;
    margin-bottom: 4em ;
    padding: 0 2em ;
}

.salienti li {
    margin: 1em 0;
}

.salienti h3 {
    margin-bottom: 1em ;
   
}

.box-basso {
    position: relative ;
    
    border: black solid 1px ;
}

.enterprise {
    padding: 1em ;
}

.enterprise h3 {
    margin: 0.5em 0 ;
}

.enterprise span {
    margin: 1em 0 ;
    display: inline-block ;

}

#ufficio-vendite {
    position: absolute ;
    right: 3em ;
    top: 3em ;
}

.contenitore50 {
    width: 50% ;
    

}

#img-partner {
   width: 100% ;
    object-fit: contain ;
}

.box-orizzontale {
    width: 100% ;
    margin-bottom: 2em ;

}



.quadrato {
    width: calc(100%/3 - 1em);

}

#img-quadrate {
    width: 100% ;
    object-fit: contain ;
}

.cinquek {
    width: 100% ;
    height: 500px ;


}

.box-loghi-testimonial {
    width: 25% ;
    height: 100% ;

}

.claim-testimonial {
    width: 50% ;
    height: 100% ;

}

.loghi-contenitore{
    width: 100% ;
    height: 50% ;

    background-color:#61082b ;
}
.loghi {
    
    width: 50% ;
    height: 100% ;
    padding: 2em ;

   

}

.img-loghi {
    width: 100% ;
    height: 100% ;
    
    
    
    
    
}

.sfondo-azzurro {
    height: 30vh ;
    background-color: #b4d0e7 ;
}

#porta-drop {
    color: #61082b ;
    font-size: 3em ;
}

#metà {
    height: 100% ;
    width: 50% ;
    padding: 2em ;
    text-align: center ;
}


#dropdown {
    height: 60vh ;
}

footer {
    height: 60vh;
    background-color: black ;
    color: white ;
    
}

#contenitore-footer {
    height: 100% ;
    width: 80% ;
    padding: 2em 3em ;
}

#contenitore-footer ul {
    list-style: none ;
}

#contenitore-footer h4 {
    margin: 1em 0;

}

#contenitore-footer div {
    width: calc(100%/5) ;
}

#contenitore-footer div:first-child {
    border-bottom: solid white 1px ;
}





